.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 80px;
}

.nav-logo {
  font-size: clamp(1.5rem, 5vw, 1.75rem);
  font-weight: 700;
  color: var(--on-surface);
  text-decoration: none;
}
.nav-logo span {
  color: var(--primary-color);
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-menu a {
  color: var(--on-surface-secondary);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: var(--primary-color);
}

.nav-menu a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.nav-menu a:hover::after {
  width: 100%;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav {
    height: 110px;
  }
  .nav-menu {
    position: fixed;
    top: 110px;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 110px);
    /* The "Frosted Glass" Effect */
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    gap: 40px;
    transition: left 0.3s ease-in-out;
  }
  
  .nav-menu.active {
    left: 0;
  }

  .nav-menu a {
    font-size: 1.5rem;
  }
  
  .nav-menu a:hover::after {
    width: 0;
  }

  .menu-icon {
    display: block;
  }
}
