@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main {
  padding-top: 80px;
}

section h2, .page-container h2 {
  /* Will try to be 8vw, but won't go smaller than 2rem or larger than 2.5rem */
  font-size: clamp(2rem, 8vw, 2.5rem);
  margin-bottom: 40px;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px; 
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 768px) {
  main {
    padding-top: 110px;
  }
}
